<ion-view view-title="Messages">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-gear-a" ui-sref="app.preferences"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button" ui-sref="app.create">New</a>
  </ion-nav-buttons>
  <ion-content>

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="$ctrl.refresh()">
    </ion-refresher>

    <div class="list" ng-if="$ctrl.messages.length">
      <a class="item item-icon-left" ng-repeat="message in $ctrl.messages" ui-sref="app.message({ id: message.id })">
        <i class="icon ion-document-text"></i>
        <p ng-bind="message.body" ng-if="message.body"></p>
        <p ng-if="!message.body">[Could not decrypt message. Is it not complete yet?]</p>
      </a>
    </div>

    <div ng-if="!$ctrl.messages.length">
      <p>No encrypted messages here</p>
    </div>

  </ion-content>
</ion-view>
